<form class="m-4" name="container-form" method="POST" action="/courses/handle-form-actions">
    <a href="/me/stored/courses" class="text-decoration-none link-dark" >
      <h3>Khoá học của tôi</h3>
    </a>
    {{#if deleteCount}}
    <a href="/me/trash/courses" class="text-decoration-none link-dark">Thùng rác ({{deleteCount}}) </a>
    {{/if}}

    <div class="d-flex mt-4 align-items-center">
      <div class="form-check me-3" >
        <input type="checkbox" class="form-check-input" id="checkbox-all" >
        <label class="form-check-label" for="checkbox-all">Select all</label>
      </div>

      <select class="form-select-sm me-3" aria-label=".form-select-sm example" name="action" required>
        <option value="" selected>----Select----</option>
        <option value="delete">Delete</option>
      </select>

      <button class="btn btn-primary btn-sm check-submit-btn disabled">Perform</button>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">
                  Tên khoá học
                  {{{ sortable 'name' _sort}}}
                </th>
                <th scope="col">Trình độ
                  {{{ sortable 'level' _sort}}}
                </th>
                <th scope="col" >Thời gian tạo
                  {{{ sortable 'createdAt' _sort}}}

                </th>
                <th scope="col" >Chức năng</th>

            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">
                  <div class="form-check" >
                    <input type="checkbox" class="form-check-input" name="courseIds[]" value="{{this._id}}">
                  </div>
                </th>

                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Edit</a>
                    <a href="" class="btn btn-link" data-bs-toggle="modal" data-bs-id="{{this._id}}" data-bs-target="#delete-course-modal">Delete</a>

                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Bạn chưa đăng khoá học nào. 
                <a href="/courses/create">Đăng khoá học tại đây</a>
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

<!-- Modal -->
{{!-- hien confirm --}}
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete course</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do you want to be sure to delete this course?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button id="btn-delete-course" type="button" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>

{{!-- form delete --}}
<form name="delete-course-form" method="POST" ></form>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    var deleteCourseModal = document.getElementById('delete-course-modal');
    var btnDeletCourse = document.getElementById('btn-delete-course');
    var deleteCourseForm = document.forms['delete-course-form'];
    var containerForm = document.forms['container-form'];
    var CourseId;
    var checkboxAll = $('#checkbox-all');
    var coureseItemCheckbox = $('input[name="courseIds[]"]');
    var checkSubmitBtn = $('.check-submit-btn');
    deleteCourseModal.addEventListener('show.bs.modal', function (event) {

      // Button that triggered the modal
      var button = event.relatedTarget
      // Extract info from data-bs-* attributes
      CourseId = button.getAttribute('data-bs-id')
      console.log(CourseId)
    })
    btnDeletCourse.onclick = function (event) {
      deleteCourseForm.action = '/courses/' + CourseId + '?_method=DELETE'
      deleteCourseForm.submit();
    }

    //checkbox all clicked
    checkboxAll.change(function() {
      var isCheckedAll = $(this).prop('checked')
      coureseItemCheckbox.prop('checked', isCheckedAll)
      renderCheckAllSubmitBtn();
    })

    //course item checkbox clicked
    coureseItemCheckbox.change(function() {
      var isCheckedAll = coureseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length
      checkboxAll.prop('checked', isCheckedAll)
      renderCheckAllSubmitBtn();
    })

      // check submit btn clicked
      {{!-- checkSubmitBtn.click(function(e) {
         e.preventDefault();
         var isSubmittable = !$(this).hasClass('disabled');
         
         console.log(isSubmittable)
         if (isSubmittable) {
          containerForm.submit();
         }
      }) --}}

    //Re - render check all submit button
    function renderCheckAllSubmitBtn() {
      var checkedCount = $('input[name="courseIds[]"]:checked').length
      if (checkedCount > 0) {
        checkSubmitBtn.removeClass('disabled')
      } else {
        checkSubmitBtn.addClass('disabled')
      }
    }
  })
       

</script>